// Umumiy o'zgaruvchilar (ranglar, shriftlar, bo'shliqlar va hokazo).

// colors
$primary-color: #00DBDE;
$secondary-color: #FC00FF;
$dark-color: #333;
$light-color: #fff;

// fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// spacing
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 32px;


// 